* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Quicksand", sans-serif;
}

:root {
    --Nav-font-size: 16px;
    --Nav-font-weight: 600;
    --Nav-font-letr-space: 0.1px;
    --btn-border-radius: 8px;
}


/* NavBAR */

nav {
    width: 100vw;
    height: auto;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(images/hero-1\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-container {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 80px; */
    padding: 20px 90px;
    background-color: rgba(0, 0, 0, 0.60);
    transition: top 0.3s;


    .logo {
        display: flex;
        align-items: center;
        gap: 10px;

        .logo-name {
            font-family: "Poetsen One", sans-serif;
            color: #F78536;
            font-size: 28px;
        }

        .logo-img {
            width: 56px;
            height: 56px;
        }
    }

    .menu {
        display: grid;
        place-items: center;
    }

    .menu-wrap {
        ul {
            display: flex;
            align-items: center;
            list-style: none;

            .menu-list {

                font-size: var(--Nav-font-size);
                font-weight: var(--Nav-font-weight);
                letter-spacing: var(--Nav-font-letr-space);
                vertical-align: middle;
                text-align: center;
                padding: 0 16px;
            }

            .menu-link {
                text-decoration: none;
                color: #fff;
            }
        }
    }

    #active-page {
        padding: 8px;
        background-color: #F78536;
        border-radius: var(--btn-border-radius);
    }

    #btn-online-border {
        border: 2px solid #F78536;
        padding: 8px;
        border-radius: var(--btn-border-radius);
    }
}


/* Hero section */
.hero-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    margin: 0 80px;
}

.hero-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img {
    width: 50%;
}

.hero-img img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px 50px 100px 50px;
}

.hero-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
}

.hero-content-container h1 {
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.hero-content p {
    font-size: var(--Nav-font-size);
    font-weight: 600;
    line-height: 20px;
    color: #fff;
}

/* places */
.places{
    width: 100vw;
    background-color: #e9f8fb;
}
.places-container{
    display: flex;
    gap: 100px;
    margin: 0 90px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card-bg{
    
}
.card-1{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(images/card\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:auto;
}
.card-2{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(images/card\ 2.jpg);
    width: 100%;
    height:auto;
}
.card-3{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(images/card\ 3.jpg);
    width: 100%;
    height:auto;
}
.card-4{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(images/card\ 4.jpg);
    width: 100%;
    height:auto;
}
.card-5{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(images/card\ 5.jpg);
    width: 100%;
    height:auto;
}
.card-6{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(images/);
    width: 100%;
    height:auto;
}

/* Media Quries */

@media screen and (max-width: 992px) {
    .nav-container {
        flex-direction: column;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .menu-wrap .menu li {
        font-size: 14px !important;
        padding: 0 8px;
    }

    #active-page {
        padding: 4px;
        background-color: #F78536;
        border-radius: var(--btn-border-radius);
    }

    #btn-online-border {
        border: 2px solid #F78536;
        padding: 4px;
        border-radius: var(--btn-border-radius);
    }

    .hero-img img {
        border-radius: 50px 20px 50px 25px;
    }
}

@media screen and (max-width: 768px) {
    .menu-wrap .menu li {
        font-size: 12px !important;
        padding: 0 6px !important;
    }

    #active-page {
        padding: 4px !important;
        border-radius: 0.01px;
    }

    #btn-online-border {
        border: 2px solid #F78536;
        padding: 4px !important;
    }

    .hero-content-container {
        margin: 0 40px;
    }

    .hero-content-wrapper {
        flex-direction: column-reverse;
    }

    .hero-img img {
        width: 100%;
        border-radius: 50px 20px 50px 25px;
        margin-bottom: 20px;
    }

    .hero-content {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    .hero-content-container h1 {
        font-size: 20px;
    }

    .hero-content p {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }
}

@media screen and (max-width: 576px) {
    .menu {
        flex-direction: column !important;
        margin-top: 5px;
    }

    .menu li {
        margin-top: 5px;
    }

    .hero-content-container {
        margin: 0 20px;
    }

    .hero-img img {
        border-radius: 6px;
        width: 100%;
    }

    .hero-content {
        padding-right: 10px;
    }

    .hero-content-container h1 {
        font-size: 16px;
    }

    .hero-content p {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
    }
}