* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Quicksand", sans-serif;
}

:root {
    --Nav-font-size: 16px;
    --Nav-font-weight: 600;
    --Nav-font-letr-space: 0.1px;
    --btn-border-radius: 8px;
}


/* NavBAR */

nav {
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(images/hero-1\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;

        .logo-name {
            font-family: "Poetsen One", sans-serif;
            color: #F78536;
            font-size: 28px;
        }

        .logo-img {
            width: 56px;
            height: 56px;
        }
    }

    .menu {
        display: grid;
        place-items: center;
    }

    .menu-wrap {
        ul {
            display: flex;
            align-items: center;
            list-style: none;

            .menu-list {

                font-size: var(--Nav-font-size);
                font-weight: var(--Nav-font-weight);
                letter-spacing: var(--Nav-font-letr-space);
                vertical-align: middle;
                text-align: center;
                padding: 0 16px;
            }

            .menu-link {
                text-decoration: none;
                color: #fff;
            }
        }
    }

    #active-page {
        padding: 8px;
        background-color: #F78536;
        border-radius: var(--btn-border-radius);
    }

    #btn-online-border {
        border: 2px solid #F78536;
        padding: 8px;
        border-radius: var(--btn-border-radius);
    }
}

.menu-wrap{
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 992px) {
    /* .nav-container{
        flex-direction: column;
        align-items: flex-start;
    }

    .menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    } */

    .menu-wrap .menu li {
        font-size: 10px !important;
        padding:  0 8px;
    }

    #active-page {
        padding: 4px;
        background-color: #F78536;
        border-radius: var(--btn-border-radius);
    }

    #btn-online-border {
        border: 2px solid #F78536;
        padding: 4px;
        border-radius: var(--btn-border-radius);
    }
}